body {
  background-color : #B0B0B0;
  color            : white;
  padding          : 8px;
}

h1 {
  color            : red;
  font-style       : italic;
}

h2 {
  color            : yellow;
  font-style       : italic;
}

div.my-paragraph
{
  color            : green;
}

footer
{
  border-top       : 1px solid blue;
  color            : blue;
  margin-top       : 18px;
  padding-top      : 6px;
}

#clock
{
  font             : bold 18pt sans;
  background-color : black;
  padding          : 5px;
  border           : solid black 2px;
  border-radius    : 8px;
}